:root {
  --color-carbon-50: oklch(95.3722592025% 0 none);
  --color-carbon-100: oklch(88.0995319297% 0 none);
  --color-carbon-200: oklch(80.826804657% 0 none);
  --color-carbon-300: oklch(73.5540773843% 0 none);
  --color-carbon-400: oklch(66.2813501116% 0 none);
  --color-carbon-500: oklch(59.0086228388% 0 none);
  --color-carbon-600: oklch(51.7358955661% 0 none);
  --color-carbon-700: oklch(44.4631682934% 0 none);
  --color-carbon-800: oklch(37.1904410207% 0 none);
  --color-carbon-900: oklch(29.9177137479% 0 none);
  --color-carbon-950: oklch(22.6449864752% 0 none);
  --color-patina-50: oklch(97% 0.1297360993 230.6015228477deg);
  --color-patina-100: oklch(95.2989625233% 0.1297360993 230.6015228477deg);
  --color-patina-200: oklch(88.0262352505% 0.1297360993 230.6015228477deg);
  --color-patina-300: oklch(80.7535079778% 0.1297360993 230.6015228477deg);
  --color-patina-400: oklch(73.4807807051% 0.1297360993 230.6015228477deg);
  --color-patina-500: oklch(66.2080534324% 0.1297360993 230.6015228477deg);
  --color-patina-600: oklch(58.9353261596% 0.1297360993 230.6015228477deg);
  --color-patina-700: oklch(51.6625988869% 0.1297360993 230.6015228477deg);
  --color-patina-800: oklch(44.3898716142% 0.1297360993 230.6015228477deg);
  --color-patina-900: oklch(37.1171443415% 0.1297360993 230.6015228477deg);
  --color-patina-950: oklch(29.8444170687% 0.1297360993 230.6015228477deg);
  --color-rhodium-50: oklch(94.4803876735% 0.2269409973 3.6344626504deg);
  --color-rhodium-100: oklch(87.2076604007% 0.2269409973 3.6344626504deg);
  --color-rhodium-200: oklch(79.934933128% 0.2269409973 3.6344626504deg);
  --color-rhodium-300: oklch(72.6622058553% 0.2269409973 3.6344626504deg);
  --color-rhodium-400: oklch(65.3894785826% 0.2269409973 3.6344626504deg);
  --color-rhodium-500: oklch(58.1167513098% 0.2269409973 3.6344626504deg);
  --color-rhodium-600: oklch(50.8440240371% 0.2269409973 3.6344626504deg);
  --color-rhodium-700: oklch(43.5712967644% 0.2269409973 3.6344626504deg);
  --color-rhodium-800: oklch(36.2985694917% 0.2269409973 3.6344626504deg);
  --color-rhodium-900: oklch(29.0258422189% 0.2269409973 3.6344626504deg);
  --color-rhodium-950: oklch(21.7531149462% 0.2269409973 3.6344626504deg);
  --color-iodine-50: oklch(78.2727482513% 0.2255962786 298.4946361069deg);
  --color-iodine-100: oklch(71.0000209786% 0.2255962786 298.4946361069deg);
  --color-iodine-200: oklch(63.7272937059% 0.2255962786 298.4946361069deg);
  --color-iodine-300: oklch(56.4545664331% 0.2255962786 298.4946361069deg);
  --color-iodine-400: oklch(49.1818391604% 0.2255962786 298.4946361069deg);
  --color-iodine-500: oklch(41.9091118877% 0.2255962786 298.4946361069deg);
  --color-iodine-600: oklch(34.636384615% 0.2255962786 298.4946361069deg);
  --color-iodine-700: oklch(27.3636573422% 0.2255962786 298.4946361069deg);
  --color-iodine-800: oklch(20.0909300695% 0.2255962786 298.4946361069deg);
  --color-iodine-900: oklch(17% 0.2255962786 298.4946361069deg);
  --color-iodine-950: oklch(17% 0.2255962786 298.4946361069deg);
  --color-uranium-50: oklch(97% 0.1728194427 95.5155506745deg);
  --color-uranium-100: oklch(97% 0.1728194427 95.5155506745deg);
  --color-uranium-200: oklch(97% 0.1728194427 95.5155506745deg);
  --color-uranium-300: oklch(97% 0.1728194427 95.5155506745deg);
  --color-uranium-400: oklch(91.8398314016% 0.1728194427 95.5155506745deg);
  --color-uranium-500: oklch(84.5671041289% 0.1728194427 95.5155506745deg);
  --color-uranium-600: oklch(77.2943768562% 0.1728194427 95.5155506745deg);
  --color-uranium-700: oklch(70.0216495835% 0.1728194427 95.5155506745deg);
  --color-uranium-800: oklch(62.7489223107% 0.1728194427 95.5155506745deg);
  --color-uranium-900: oklch(55.476195038% 0.1728194427 95.5155506745deg);
  --color-uranium-950: oklch(48.2034677653% 0.1728194427 95.5155506745deg);
  --color-cesium-50: oklch(97% 0.2038480468 42.1029756425deg);
  --color-cesium-100: oklch(97% 0.2038480468 42.1029756425deg);
  --color-cesium-200: oklch(90.1741699828% 0.2038480468 42.1029756425deg);
  --color-cesium-300: oklch(82.9014427101% 0.2038480468 42.1029756425deg);
  --color-cesium-400: oklch(75.6287154373% 0.2038480468 42.1029756425deg);
  --color-cesium-500: oklch(68.3559881646% 0.2038480468 42.1029756425deg);
  --color-cesium-600: oklch(61.0832608919% 0.2038480468 42.1029756425deg);
  --color-cesium-700: oklch(53.8105336191% 0.2038480468 42.1029756425deg);
  --color-cesium-800: oklch(46.5378063464% 0.2038480468 42.1029756425deg);
  --color-cesium-900: oklch(39.2650790737% 0.2038480468 42.1029756425deg);
  --color-cesium-950: oklch(31.992351801% 0.2038480468 42.1029756425deg);
  --color-redstone-50: oklch(84.665366603% 0.1958291499 25.0288764324deg);
  --color-redstone-100: oklch(77.3926393302% 0.1958291499 25.0288764324deg);
  --color-redstone-200: oklch(70.1199120575% 0.1958291499 25.0288764324deg);
  --color-redstone-300: oklch(62.8471847848% 0.1958291499 25.0288764324deg);
  --color-redstone-400: oklch(55.5744575121% 0.1958291499 25.0288764324deg);
  --color-redstone-500: oklch(48.3017302393% 0.1958291499 25.0288764324deg);
  --color-redstone-600: oklch(41.0290029666% 0.1958291499 25.0288764324deg);
  --color-redstone-700: oklch(33.7562756939% 0.1958291499 25.0288764324deg);
  --color-redstone-800: oklch(26.4835484212% 0.1958291499 25.0288764324deg);
  --color-redstone-900: oklch(19.2108211484% 0.1958291499 25.0288764324deg);
  --color-redstone-950: oklch(17% 0.1958291499 25.0288764324deg);
  --color-emerald-50: oklch(95.3876514358% 0.1563895944 150.4865280472deg);
  --color-emerald-100: oklch(88.1149241631% 0.1563895944 150.4865280472deg);
  --color-emerald-200: oklch(80.8421968903% 0.1563895944 150.4865280472deg);
  --color-emerald-300: oklch(73.5694696176% 0.1563895944 150.4865280472deg);
  --color-emerald-400: oklch(66.2967423449% 0.1563895944 150.4865280472deg);
  --color-emerald-500: oklch(59.0240150722% 0.1563895944 150.4865280472deg);
  --color-emerald-600: oklch(51.7512877994% 0.1563895944 150.4865280472deg);
  --color-emerald-700: oklch(44.4785605267% 0.1563895944 150.4865280472deg);
  --color-emerald-800: oklch(37.205833254% 0.1563895944 150.4865280472deg);
  --color-emerald-900: oklch(29.9331059813% 0.1563895944 150.4865280472deg);
  --color-emerald-950: oklch(22.6603787085% 0.1563895944 150.4865280472deg);
}

/*# sourceMappingURL=colors.css.map */
