@theme {
  --font-sans: "GeneralSans-Variable", sans-serif;
  --font-display: "GeneralSans-Variable", sans-serif;
  --font-body: "GeneralSans-Variable", sans-serif;
  --font-cursive: "Covered By Your Grace", cursive;
  --font-digital: "Pixelify Sans", sans-serif;

  --text-fluid-xs: clamp(0.5rem, 0.6rem + 0.25vw, 0.75rem);
  --text-fluid-sm: clamp(0.6rem, 0.65rem + 0.35vw, 0.875rem);
  --text-fluid-base: clamp(0.75rem, 0.75rem + 0.5vw, 1rem);
  --text-fluid-lg: clamp(0.875rem, 0.85rem + 0.55vw, 1.125rem);
  --text-fluid-xl: clamp(1rem, 0.9rem + 0.65vw, 1.25rem);
  --text-fluid-2xl: clamp(1.125rem, 1.05rem + 0.8vw, 1.5rem);
  --text-fluid-3xl: clamp(1.25rem, 1.3rem + 1vw, 1.875rem);
  --text-fluid-4xl: clamp(1.5rem, 1.6rem + 1.2vw, 2.25rem);
  --text-fluid-5xl: clamp(1.875rem, 2rem + 1.5vw, 3rem);
  --text-fluid-6xl: clamp(2.25rem, 2.5rem + 2vw, 3.75rem);
  --text-fluid-7xl: clamp(3rem, 3rem + 2.5vw, 4.5rem);
  --text-fluid-8xl: clamp(3.75rem, 4rem + 3vw, 6rem);
  --text-fluid-9xl: clamp(4.5rem, 5rem + 4vw, 8rem);

  --spacing-nav: 60px;
  --spacing-sides: max(1rem, 1rem + 5vw);

  --color-carbon-50: oklch(0.97 0 0 / 1);
  --color-carbon-100: oklch(0.93 0 0 / 1);
  --color-carbon-200: oklch(0.86 0 0 / 1);
  --color-carbon-300: oklch(0.76 0 0 / 1);
  --color-carbon-400: oklch(0.63 0 0 / 1);
  --color-carbon-500: oklch(0.53 0 0 / 1);
  --color-carbon-600: oklch(0.48 0 0 / 1);
  --color-carbon-700: oklch(0.43 0 0 / 1);
  --color-carbon-800: oklch(0.39 0 0 / 1);
  --color-carbon-900: oklch(0.36 0 0 / 1);
  --color-carbon-950: oklch(0.23 0 0 / 1);

  --color-uranium-50: oklch(0.99 0.03 106.91 / 1);
  --color-uranium-100: oklch(0.98 0.08 107.71 / 1);
  --color-uranium-200: oklch(0.97 0.13 106.85 / 1);
  --color-uranium-300: oklch(0.94 0.18 104.49 / 1);
  --color-uranium-400: oklch(0.9 0.18 100.26 / 1);
  --color-uranium-500: oklch(0.85 0.17 95.52 / 1);
  --color-uranium-600: oklch(0.71 0.15 86.04 / 1);
  --color-uranium-700: oklch(0.58 0.12 76.97 / 1);
  --color-uranium-800: oklch(0.5 0.1 71.79 / 1);
  --color-uranium-900: oklch(0.44 0.09 67.15 / 1);
  --color-uranium-950: oklch(0.3 0.06 62.71 / 1);

  --color-patina-50: oklch(0.98 0.01 228.92 / 1);
  --color-patina-100: oklch(0.95 0.02 231.84 / 1);
  --color-patina-200: oklch(0.91 0.05 226.01 / 1);
  --color-patina-300: oklch(0.84 0.1 224.27 / 1);
  --color-patina-400: oklch(0.77 0.13 226.81 / 1);
  --color-patina-500: oklch(0.66 0.13 230.6 / 1);
  --color-patina-600: oklch(0.6 0.13 235.71 / 1);
  --color-patina-700: oklch(0.51 0.11 236.53 / 1);
  --color-patina-800: oklch(0.45 0.09 234.39 / 1);
  --color-patina-900: oklch(0.4 0.08 236.2 / 1);
  --color-patina-950: oklch(0.3 0.06 236.6 / 1);

  --color-cesium-50: oklch(0.98 0.02 81.33 / 1);
  --color-cesium-100: oklch(0.96 0.04 79.48 / 1);
  --color-cesium-200: oklch(0.91 0.08 74.19 / 1);
  --color-cesium-300: oklch(0.85 0.12 70.28 / 1);
  --color-cesium-400: oklch(0.77 0.16 58.33 / 1);
  --color-cesium-500: oklch(0.72 0.19 49.06 / 1);
  --color-cesium-600: oklch(0.68 0.2 42.1 / 1);
  --color-cesium-700: oklch(0.57 0.18 38.93 / 1);
  --color-cesium-800: oklch(0.48 0.15 38.52 / 1);
  --color-cesium-900: oklch(0.42 0.12 39.34 / 1);
  --color-cesium-950: oklch(0.27 0.08 38.43 / 1);

  --color-iodine-50: oklch(0.96 0.02 301.15 / 1);
  --color-iodine-100: oklch(0.93 0.04 302.48 / 1);
  --color-iodine-200: oklch(0.88 0.07 301.93 / 1);
  --color-iodine-300: oklch(0.78 0.13 301.65 / 1);
  --color-iodine-400: oklch(0.68 0.21 301.79 / 1);
  --color-iodine-500: oklch(0.59 0.27 300.94 / 1);
  --color-iodine-600: oklch(0.56 0.29 300.73 / 1);
  --color-iodine-700: oklch(0.54 0.29 297.82 / 1);
  --color-iodine-800: oklch(0.48 0.26 297.15 / 1);
  --color-iodine-900: oklch(0.42 0.23 298.49 / 1);
  --color-iodine-950: oklch(0.31 0.17 294.72 / 1);

  --color-rhodium-50: oklch(0.97 0.02 343.61 / 1);
  --color-rhodium-100: oklch(0.95 0.03 342.95 / 1);
  --color-rhodium-200: oklch(0.9 0.07 343.07 / 1);
  --color-rhodium-300: oklch(0.82 0.13 345.99 / 1);
  --color-rhodium-400: oklch(0.73 0.2 350.47 / 1);
  --color-rhodium-500: oklch(0.67 0.24 356.05 / 1);
  --color-rhodium-600: oklch(0.58 0.23 3.63 / 1);
  --color-rhodium-700: oklch(0.55 0.22 6.87 / 1);
  --color-rhodium-800: oklch(0.48 0.19 6.58 / 1);
  --color-rhodium-900: oklch(0.42 0.16 5 / 1);
  --color-rhodium-950: oklch(0.29 0.12 5.88 / 1);

  --color-emerald-50: oklch(0.98 0.02 159.77 / 1);
  --color-emerald-100: oklch(0.97 0.05 158.57 / 1);
  --color-emerald-200: oklch(0.93 0.09 157.72 / 1);
  --color-emerald-300: oklch(0.89 0.15 155.58 / 1);
  --color-emerald-400: oklch(0.82 0.19 152.57 / 1);
  --color-emerald-500: oklch(0.75 0.2 150.01 / 1);
  --color-emerald-600: oklch(0.65 0.18 149.72 / 1);
  --color-emerald-700: oklch(0.59 0.16 150.49 / 1);
  --color-emerald-800: oklch(0.46 0.11 152.15 / 1);
  --color-emerald-900: oklch(0.4 0.09 153.19 / 1);
  --color-emerald-950: oklch(0.28 0.07 154.3 / 1);

  --color-redstone-50: oklch(0.97 0.02 8.76 / 1);
  --color-redstone-100: oklch(0.92 0.04 8.14 / 1);
  --color-redstone-200: oklch(0.87 0.07 8.33 / 1);
  --color-redstone-300: oklch(0.78 0.13 11.19 / 1);
  --color-redstone-400: oklch(0.69 0.21 15.72 / 1);
  --color-redstone-500: oklch(0.64 0.25 21.96 / 1);
  --color-redstone-600: oklch(0.63 0.26 25.85 / 1);
  --color-redstone-700: oklch(0.56 0.23 25.5 / 1);
  --color-redstone-800: oklch(0.48 0.2 25.03 / 1);
  --color-redstone-900: oklch(0.42 0.17 23.12 / 1);
  --color-redstone-950: oklch(0.28 0.11 22 / 1);
}
